.loremcard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .loremcard p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .loremcard p:first-of-type {
    font-weight: bold;
  }
  